.logomibr{
    padding-right: 100%;
    height: 40px;
    width: auto;
}
body{
    display: flexbox;
    place-items: center;
    color: white;
    background-color: black;
}
.aspas1{
    padding-top: 5%;
    width: 1025px;
}
.fotoaspas{
    width: 1025px;
}
.teste{
    font-size: 16;
    line-height: 1.625;
    margin: 2em 0;
    box-sizing: inherit;
    font-family: arial;
}
.teste1{
    
    font-family: arial;
}